---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ cluster_deploy_operator_namespace }}
  labels:
    security.openshift.io/scc.podSecurityLabelSync: "true"
    openshift.io/cluster-monitoring: "true"

