kind: CatalogSource
apiVersion: operators.coreos.com/v1alpha1
metadata:
    name: {{ catalog_name }}
    namespace: openshift-marketplace
spec:
    displayName: "{{ catalog_name }} CatalogSource"
    image: "{{ catalog_registry }}{{ catalog_image }}:{{ catalog_version }}"
    priority: -300
    publisher: Red Hat
    sourceType: grpc
    updateStrategy:
        registryPoll:
            interval: 10m0s
